@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to our MVC App</h1>
    <p class="lead">For this task, you will build a simple MVC application that will let users to calculate a discount price.</p>

    <p class="lead">The user can enter the sales price and discount percent, and the application will calculate and display the discount amount and total price.</p>

</div>
<div>
    <img src="~/Images/sales_sign.jpg" class="img-responsive"/>
</div>
